<!DOCTYPE html>
<html lang="fr">
<head>
   <link rel="stylesheet" href="/media/css/style.css" />
   <title>{% block title %}Guillaume elec{% endblock %}</title>
</head>
<body>
<header>Guillaume Electricié</header>
    <nav id="nav">
       {% block nav %}
       <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/coordonees/">coordonées</a></li>
            <li><a href="/contact/">Contact</a></li>
       </ul>
       {% endblock %}
   </nav>
   <section id="content">
       {% block content %}{% endblock %}
   </section>
<footer>&copy; Guillaume electicité</footer>
</body>
</html>
