{% extends "base.html" %}


{% block title_page %} AGlec {% endblock %}

{% block title %}

<img class="logo" src="/static/image/Logo.png" alt="Logo de l'entreprise" />
<a href="{% url "home" %}"
  <h1 class="titre">AG</h1><h1 class="titre_suite">elec</h1>
>
{% endblock %}

{% block metier %} <h2>Electicité Géneral<h2>{% endblock %}

{% block nav %}
<ul class="sidenav">
  <li><a class="active" href="{% url "home" %}">Accueil</a></li>
  <li><a href="{% url "coord" %}">Coordonnées</a></li>
  <li><a href="{% url "cont" %}">Contact</a></li>
</ul>
{% endblock %}

{% block footer %} 2016  {% endblock %}
